<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Crud App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="openDialog()">
      ADD EMPLOYEE
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="search-div">
    <mat-form-field class="search-form-field">
      <input matInput
             placeholder="Search"
             autocomplete="off"
             [ngModel]="searchKey"
             (keyup)="applyFilter($event)"
             #input
             class="sarabun">
      <button matIconSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="onSearchClear()"
              *ngIf="searchKey">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z5">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let index = index">
          {{ (index + 1) + (paginator.pageIndex * paginator.pageSize) }}.
        </td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>FirstName</th>
        <td mat-cell *matCellDef="let row">{{row['firstName']}}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>LastName</th>
        <td mat-cell *matCellDef="let row">{{row['lastName']}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{row['email']}}</td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let row">{{row['gender']}}</td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>Company</th>
        <td mat-cell *matCellDef="let row">{{row['company']}}</td>
      </ng-container>
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>Date of birth</th>
        <td mat-cell *matCellDef="let row">{{row['dob'].toDate() | date }}</td>
      </ng-container>
      <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef>Education</th>
        <td mat-cell *matCellDef="let row">{{row['education']}}</td>
      </ng-container>
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef>Experience</th>
        <td mat-cell *matCellDef="let row">{{row['experience']}}</td>
      </ng-container>
      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef>Package</th>
        <td mat-cell *matCellDef="let row">{{row['package'] | currency: '': ''}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" >
          <button mat-icon-button (click)="onEditUser(row)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteMember(row)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell cell-align" colspan="5"><strong class="red">
          No data matching the filter "{{input.value}}"</strong></td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="select page of users">
    </mat-paginator>

  </div>
</div>

<router-outlet></router-outlet>
